{% extends 'base.html' %} 
{% load static %}

{% block title %}
Recuperacion
{% endblock %}

{% block content %}
<h1 class="text-center" >Recuperar contraseña</h1>
<br>
<br>
<br>
<br>
<form method="POST" class="text-center">
    {% csrf_token %}
    <div class="form-group">
        <p>Ingrese correo</p>
        <label for="id_email"></label> {{form.email}} 
        <br>
        <br>
        <input  class="btn btn-primary" type="submit" value="Enviar"/>
    </div>
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}