{% extends 'base.html' %} 
{% load static %}
{% block title %}
{% endblock %}

{% block content %}

<h4 class="text-center">Te hemos enviado un correo con un enlace para reestablecer tu contraseña</h4>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}