{% extends 'base.html' %} 
{% load static %}
{% block title %}
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
    <h1 class="text-center">Su contraseña se reestablecio correctamente</h1>


    <p class="text-center"><a href="{% url 'login' %}">Iniciar sesión</a></p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}