{% extends 'base.html' %} 
{% load static %}
{% block title %}
{% endblock %}
{% block content %}

{% if validlink %}

<h1 class="text-center" >Nueva contraseña</h1>
<br>
<br>
<form method="POST" class="text-center form-group">
{% csrf_token %}

{{ form.new_password1.errors }}
<label for="id_new_password1">Nueva contraseña:</label>
{{ form.new_password1 }}

{{ form.new_password2.errors }}
<label for="id_new_password2">Confirme contraseña:</label>{{ form.new_password2 }}
<input type="submit" value="Cambiar mi contraseña">
</form>

{% else %}

<h1 class="text-center">ENLACE INVALIDO: ESTE ENLACE YA SE HA UTILIZADO</h1>

{% endif %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}