{% extends 'base.html' %}

{% block content %}
    <div class="text-center">
        <form method="post">
            {% csrf_token %}

            <p class="delete-msg"> ¿Está seguro que desea eliminar la carta {{ object.nombre }}?</p>

            <a href="{% url 'list_cartas' %}" class="btn btn-secondary">NO</a>
            <button class="btn btn-primary" type="submit">Sí</button>
        </form>
    </div>
{% endblock %}