{% extends 'base.html' %}
{% load static %}

{% block title %}Cartas TCG{% endblock %}

{% block content %}
<div class="container mt-3 pb-3">
    <div class="col-md-5">
    <h1>Agregar carta</h1>
    <form id="formulario" method="POST" enctype= "multipart/form-data" >
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.name}}">{{ field.label_tag }}</label><br>            
            {{ field }}
            <div class="bg-danger mt-1">{{ field.errors }}</div>
        </div>
        {% endfor %}
        
        
        <input type="submit" value="Grabar">
    
    </form>
</div>
</div>
{% endblock %}