{% extends 'base.html' %} 

{% block titulo_principal %}

    
{% endblock %} 

{% block content %}

    <h3>Listado de Cartas</h3>

    <form class="form-inline mb-5" method="GET">

        <div class="form-group mx-3">
            <label class="mr-2">Buscar por precio:</label>

            <select class="form-control mr-2" name="precio">
                <option ></option>
                <option value="2000">$2.000</option>
                <option value="3000">$3.000</option>
                <option value="4000">$4.000</option>
                <option value="5000">$5.000</option>
            </select>        
            <button class="btn btn-secondary" type="submit" name="btn-buscarPrecio">Buscar</button>            
        </div>

        <div class="form-group mx-3">
            <label class="mr-2">Buscar por nombre de carta:</label>
            <input type="text" class="form-control mr-2" name="nombre-carta">            
            <button class="btn btn-secondary" type="submit" name="btn-nombre-carta">Buscar</button>            
        </div>        

    </form>


{% if object_list %}
<br>
<h1 class="text-center">Catálogo de cartas</h1>
<br>

<body>

<div id="Container">
{% for carta in object_list %}
        <div id="catalogo">
            <div id="tarjeta" class="card" style="width: 18rem;">
                <img id="img" src= ../../static/images/{{ carta.ruta_imagen }} class="card-img-top" style="width: 300px;"/>
                <div class="card-body">
                    <h5 class="card-title">{{carta.nombre}}</h5>
                    <p class="card-text">{{ carta.descripcion }}</p>
                    <p class="card-price">${{ carta.precio }}</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
{% endfor %}
<br>
</div>

</body>

{% else %}
    <h1 class="text-center">No hay registros de cartas</h1>
{% endif %} {% endblock %}

