{% extends 'base.html' %}

{% block titulo_principal %}

<div id=titulo_pagina>
    Lista de Cartas
</div>
{% endblock %} 

{% block content %}

    <h3>Listado de Cartas</h3>

    <form class="form-inline mb-5" method="GET">

        <div class="form-group mx-3">
            <label class="mr-2">Buscar por precio:</label>

            <select class="form-control mr-2" name="precio">
                <option ></option>
                <option value="2000">$2.000</option>
                <option value="3000">$3.000</option>
                <option value="4000">$4.000</option>
                <option value="5000">$5.000</option>
            </select>        
            <button class="btn btn-secondary" type="submit" name="btn-buscarPrecio">Buscar</button>            
        </div>

        <div class="form-group mx-3">
            <label class="mr-2">Buscar por nombre de carta:</label>
            <input type="text" class="form-control mr-2" name="nombre-carta">            
            <button class="btn btn-secondary" type="submit" name="btn-nombre-carta">Buscar</button>            
        </div>     

    </form>

{% if object_list %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        {% for carta in object_list %}
        <tr>
            <th scope="row">{{ carta.nombre }} </th>
            <td>{{ carta.descripcion }}</td>
            <td>${{ carta.precio }}</td>
            <td><img src= ../../static/images/{{ carta.ruta_imagen }} style="width: 100px;"/> </td>

            <td><a class="btn btn-primary" href="{% url 'edit_carta' carta.id %}">Editar</a></td>
            <td><a class="btn btn-danger" href="{% url 'del_carta' carta.id %}">Eliminar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
    <h1>No hay registros de carta</h1>
{% endif %} {% endblock %}