<!-- base.html -->
{% load static %}
<html>
{% load pwa %}
{% progressive_web_app_meta %}

    <head>
        <title>{% block title %}{% endblock title %}</title>
        {% block css %} {% endblock css %}
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/x-icon" href="img/stars.ico">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="../static/css/base.css">
    </head>
<body>
    {% block navbar %}
    <!-- Cabezera -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
    
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'catalogo' %}">Catalogo</a>
            </li>
            {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registrar' %}">Registrarse</a>
                </li>        
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                </li>
            {% endif %}
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_cartas' %}">Modificar cartas</a>
                </li>
                {% endif %}
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_user' %}">Listado de usuarios</a>
                </li>
                {% endif %}
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_carta' %}">Agregar carta</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
                </li>
                <span class="ml-md-5 "  style="color: gray;"><strong>Bienvenido {{ user.get_username }}</strong></span>
            {% endif %}  
            </ul>
        </div>
    </nav>

    {% endblock %}

    {% block Footer %}
    
    {% endblock %}
        {% block content %} {% endblock content %}

        {% block javascript %} {% endblock javascript %}
        <footer  id="mainfooter" class="mainfooter" >
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <!--Column1-->
                            <div class="footer-pad">
                                <h4>Servicio al Cliente</h4>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                    <li><a href="#">Métodos y costos de envío</a></li>
                                    <li><a href="#">Cambios y devoluciones</a></li>
                                    <li><a href="#">Seguimiento de mi compra</a></li>
                                    <li><a href="#">Política de privacidad</a></li>
                                    <li><a href="#">Politica de cookies</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!--Column1-->
                            <div class="footer-pad">
                                <h4>Contacto</h4>
                                <ul class="list-unstyled">
                                    <li>(+56) 983 674 961</li>
                                    <li>(+56) 2 840 7000</li>
                                    <li>contacto@cartastcg.cl</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!--Column1-->
                            <div class="footer-pad">
                                <h4>Dirección</h4>
                                <ul class="list-unstyled">
                                    <li>Av. Providencia 184</li>
                                    <li>Santiago</li>
                                    <li>Región Metropolitana</li>
                                    <li>Chile</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4>Síguenos también en nuestras redes sociales</h4>
                            <ul class="social-network social-circle">
                                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 copy">
                            <p class="text-center">&copy; Copyright 2020 - Cartas TCG. All rights reserved.</p>
                        </div>
                    </div>


                </div>
            </div>
        </footer>
</body>
</html>