{% extends 'base.html' %}
<!-- home.html -->
{% load static %}

{% block title %}Home Page{% endblock title %}

{% block content %} 
<div class="container">
    <h2 class="text-center">Bienvenidos a nuestra página</h2>
    <h3 class="text-center">¡Encuentra todas las cartas que buscas en Cartas TCG!</h3>
</div>
<hr>
<br>
<div class="carousel">
    <div id="carouselTCG" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselTCG" data-slide-to="0" class="active"></li>
        <li data-target="#carouselTCG" data-slide-to="1"></li>
        <li data-target="#carouselTCG" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="../static/img/fotoCartas1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption trickcenter d-md-block">
            <h5><b>Cartas Pokémon</b></h5>
        </div>
        </div>
        <div class="carousel-item">
        <img src="../static/img/fotoCartas2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption trickcenter d-md-block">
            <h5>Cartas YugiOh</h5>
        </div>
        </div>
        <div class="carousel-item">
        <img src="../static/img/fotoCartas3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption trickcenter d-md-block">
            <h5>Cartas Mitos y leyendas</h5>
        </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselTCG" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselTCG" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>
</div>
{% endblock content %}